<page-header [title]="title">
    <ng-template #title>
        {{l('Users')}}
        <span class="text-sm text-grey-dark">
            <nz-divider nzType="vertical"></nz-divider>
            {{l('UsersHeaderInfo')}}
        </span>
    </ng-template>
</page-header>
<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" class="search__form">
        <nz-row nzGutter="8">
            <nz-col nzSm="24">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzSearch [nzSuffix]="suffixSearchButton">
                            <input type="text" nz-input [(ngModel)]="filterText" name="filterText" [placeholder]="l('SearchWithThreeDot')">
                            <ng-template #suffixSearchButton>
                                <button nz-button nzType="primary" nzSearch (click)="onSearch($event)">
                                    <i nz-icon type="search"></i>
                                </button>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>
        <nz-row nzGutter="8" *ngIf="advancedFiltersVisible">
            <nz-col nzSm="12">
                <nz-form-item>
                    <nz-form-control>
                        <permission-combo [multiple]="false" [dropDownStyle]="{'max-height':'300px'}"
                            [(selectedPermission)]="selectedPermission" (selectedPermissionChange)="refresh()">
                        </permission-combo>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSm="12">
                <nz-form-item>
                    <nz-form-control>
                        <role-combo [selectMode]="default" [(selectedRole)]="role" (selectedRoleChange)="refresh()"></role-combo>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>
        <nz-row nzGutter="8" *ngIf="advancedFiltersVisible">
            <nz-col nzSm="12">
                <nz-form-item>
                    <nz-form-control>
                        <label nz-checkbox name="OnlyLockedUsers" [(ngModel)]="onlyLockedUsers" (ngModelChange)="refresh()">{{l("OnlyLockedUsers")}}</label>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>
    </form>
    <nz-row nzGutter="8">
        <nz-col nzMd="20" nzSm="12">
            <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.Administration.Users.Create')" (click)="createOrEdit()">
                <i nz-icon type="plus"></i>
                <span>
                    {{l("CreateNewUser")}}
                </span>
            </button>
            <ng-container *ngIf="selectedDataItems.length > 0">
                <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.Administration.Users.Delete')" (click)="batchDelete()">
                    <i nz-icon type="delete"></i>
                    <span>
                        Delete Selected
                    </span>
                </button>
            </ng-container>
            <button nz-button nzType="default" (click)="exportToExcel()">
                <i nz-icon type="file-excel"></i>
                <span>
                    {{l("ExportToExcel")}}
                </span>
            </button>
        </nz-col>
        <nz-col nzMd="4" nzSm="12" class="text-right">
            <a (click)="advancedFiltersVisible=!advancedFiltersVisible">
                {{advancedFiltersVisible ? l('HideAdvancedFilters') : l('ShowAdvancedFilters')}}
                <i class="anticon" [class.anticon-down]="!advancedFiltersVisible" [class.anticon-up]="advancedFiltersVisible"></i>
            </a>
        </nz-col>
    </nz-row>
    <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
                <span>
                    <strong class="text-primary">{{selectedDataItems.length}}</strong> items selected
                </span>
                <a (click)="restCheckStatus(dataList)" class="ml-md" *ngIf="selectedDataItems.length>0">
                    {{l('Clear')}}
                </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="refresh()">
                    {{l('Refresh')}}
                </a>
            </ng-template>
        </nz-alert>
    </div>
    <nz-row class="my-md">
        <nz-table #ajaxTable [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
            [nzLoading]="isTableLoading" (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()"
            [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzNoResult]="noDataTemplate" [nzShowTotal]="totalTemplate"
            [nzFrontPagination]="false" [nzScroll]="{x: totalItems>0?'1500px':'auto'}">
            <ng-template #noDataTemplate>
                <no-data></no-data>
            </ng-template>
            <ng-template #totalTemplate let-total>
                {{l('TotalRecordsCount', total)}}
            </ng-template>
            <thead (nzSortChange)="gridSort($event)">
                <tr>
                    <th nzShowCheckbox [(nzChecked)]="allChecked" [nzDisabled]="allCheckboxDisabled" [nzIndeterminate]="checkboxIndeterminate"
                        (nzCheckedChange)="checkAll($event)" nzWidth="60px" nzLeft="0px"></th>

                    <th nzShowSort nzSortKey="userName">
                        {{l('UserName')}}
                    </th>
                    <th>
                        {{l('Name')}}
                    </th>
                    <th>
                        {{l('SureName')}}
                    </th>
                    <th>
                        {{l('Roles')}}
                    </th>

                    <th nzShowSort nzSortKey="emailAddress">
                        {{l('EmailAddress')}}
                    </th>
                    <th nzShowSort nzSortKey="isEmailConfirmed" class="text-center">
                        {{l('EmailConfirm')}}
                    </th>
                    <th nzShowSort nzSortKey="isActive" class="text-center">
                        {{l('Active')}}
                    </th>
                    <th nzShowSort nzSortKey="lastLoginTime" class="text-center">
                        {{l('LastLoginTime')}}
                    </th>
                    <th nzShowSort nzSortKey="creationTime" class="text-center">
                        {{l('CreationTime')}}
                    </th>
                    <th nzWidth="240px" nzRight="0px" class="text-center">
                        {{l('Actions')}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ajaxTable.data">
                    <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshCheckStatus(dataList)"
                        nzLeft="0px"></td>
                    <td>
                        {{item.userName}}
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.surename}}
                    </td>
                    <td>
                        <span nz-tooltip [nzTitle]="getRolesAsString(item.roles)">
                            <nz-tag *ngFor="let role of item.roles">
                                {{role.roleName}}
                            </nz-tag>
                        </span>
                    </td>
                    <td>
                        {{item.emailAddress}}
                    </td>
                    <td class="text-center">
                        <span class="badge badge-success" *ngIf="item.isEmailConfirmed">{{l('Yes')}}</span>
                        <span class="badge badge-error" *ngIf="!item.isEmailConfirmed">{{l('No')}}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-success" *ngIf="item.isActive">{{l('Yes')}}</span>
                        <span class="badge badge-error" *ngIf="!item.isActive">{{l('No')}}</span>
                    </td>
                    <td class="text-center">
                        {{item.lastLoginTime?(item.lastLoginTime | momentFormat:'L'):'-'}}
                    </td>
                    <td class="text-center">
                        {{item.creationTime | momentFormat:'L'}}
                    </td>
                    <td nzRight="0px" class="text-center">
                        <ng-container *ngIf="isGranted('Pages.Administration.Users.Edit')">
                            <a (click)="createOrEdit(item.id)">
                                <i nz-icon type="edit"></i>
                                {{l('Edit')}}
                            </a>
                            <nz-divider nzType="vertical"></nz-divider>
                        </ng-container>
                        <ng-container *ngIf="isGranted('Pages.Administration.Users.Delete')">
                            <nz-popconfirm [nzTitle]="l('UserDeleteWarningMessage', item.userName)" (nzOnConfirm)="deleteUser(item)"
                                [nzOkText]="l('Ok')" [nzCancelText]="l('Cancel')">
                                <a nz-popconfirm>
                                    <i nz-icon type="delete"></i>
                                    {{l('Delete')}}
                                </a>
                            </nz-popconfirm>
                        </ng-container>
                        <ng-container *ngIf="isGrantedAny('Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Unlock')">
                            <nz-divider nzType="vertical"></nz-divider>
                            <nz-dropdown>
                                <a nz-dropdown>
                                    {{l('More')}}
                                    <i nz-icon type="down"></i>
                                </a>
                                <ul nz-menu>

                                    <li nz-menu-item *ngIf="isGranted('Pages.Administration.Users.Edit')" (click)="editUserPermissions(item) ">
                                        <i nz-icon type="safety"></i>
                                        {{l('Permissions')}}
                                    </li>
                                    <li nz-menu-item *ngIf="isGranted('Pages.Administration.Users.Edit') " (click)="unlockUser(item) ">
                                        <i nz-icon type="unlock"></i>
                                        {{l('Unlock')}}
                                    </li>

                                </ul>
                            </nz-dropdown>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-row>
</nz-card>