<nz-spin [nzTip]="l('LoadWithThreeDot')" [nzSpinning]="loading">
    <nz-input-group [nzSuffix]="suffixIcon">
        <input type="text" nz-input placeholder="{{'SearchWithThreeDot' | localize}}" [(ngModel)]="filterText" (keyup.enter)="reload()"
            (ngModelChange)="filterTextEmptyChange()">
    </nz-input-group>
    <ng-template #suffixIcon>
        <i nz-icon nzType="reload" class="point" (click)="reload()" nz-tooltip [nzTooltipTitle]="l('Refresh')"></i>
    </ng-template>

    <nz-tree #nzTreePermission [nzData]="_treeData" [nzSearchValue]="filterText" [nzCheckable]="true" [nzShowLine]="false"
        [nzExpandAll]="true" [nzCheckedKeys]="defaultCheckedPermissionNames" [nzCheckStrictly]="checkStrictly" class="mt-md"></nz-tree>
</nz-spin>