<div class="modal-header">
    <div class="modal-title">
        <i nz-icon nzType="form"></i>
        {{"EditText" | localize}}
    </div>
</div>
<div>
    <div>
        <p>{{"Key" | localize}}</p>
        <p>
            <strong>{{data.key}}</strong>
        </p>
    </div>
    <br>
    <div>
        <p>
            <i class="anticon {{baseLanguage.icon}}"></i>&nbsp;&nbsp;{{baseLanguage.displayName}}</p>
        <div>
            <input nz-input [(ngModel)]="baseText" [disabled]="true">
        </div>
    </div>
    <br>
    <div>
        <p>
            <i class="anticon {{targetLanguage.icon}}"></i>&nbsp;&nbsp;{{targetLanguage.displayName}}</p>
        <div>
            <textarea nz-input [(ngModel)]="data.value" [nzAutosize]="{ minRows: 3 }"></textarea>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button nz-button type="button" [disabled]="saving" (click)="close()">
        {{"Cancel" | localize}}
    </button>
    <button nz-button [nzType]="'primary'" type="button" (click)="save()">
        <i nz-icon nzType="save"></i> {{"Save" | localize}}
    </button>
</div>