<layout-default [options]="options" [content]="contentTpl" *ngIf="!installationMode">
  <layout-default-header-item direction="right" hidden="mobile">
    <language-switch></language-switch>
  </layout-default-header-item>
  <layout-default-header-item direction="right" hidden="mobile">
    <header-notifications></header-notifications>
  </layout-default-header-item>
  <layout-default-header-item direction="right" hidden="mobile">
    <header-user></header-user>
  </layout-default-header-item>
  <ng-template #contentTpl>
    <!-- <reuse-tab></reuse-tab> -->
    <router-outlet></router-outlet>
  </ng-template>
</layout-default>

<ng-container *ngIf="installationMode">
  <router-outlet></router-outlet>
</ng-container>

<session-timeout #sessionTimeout *ngIf="IsSessionTimeOutEnabled"></session-timeout>
<setting-drawer *ngIf="showSettingDrawer"></setting-drawer>
<theme-btn></theme-btn>