<nz-card [nzTitle]="l('ForgotPassword')">
    <form nz-form #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()" role="form">
        <nz-alert class="mb-md" nzType="info" nzCloseable [nzMessage]="l('SendPasswordResetLink_Information')"
            nzShowIcon>
        </nz-alert>

        <nz-form-item>
            <nz-form-control [nzErrorTip]="emailAddressValidationTpl" nzHasFeedback>
                <input nz-input name="emailAddress" #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress"
                    placeholder="{{'EmailAddress' | localize}}" autoFocus required maxlength="255" type="email" email>
                <ng-template #emailAddressValidationTpl let-control>
                    <validation-messages [formCtrl]="control"></validation-messages>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row nzGutter="8">
            <nz-col nzSm="12">
                <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="saving" [disabled]="!forgotPassForm.form.valid || saving"
                    nzBlock>
                    {{"Submit" | localize}}
                </button>
            </nz-col>
            <nz-col nzSm="12">
                <button nz-button nzType="default" nzSize="large" type="button" [disabled]="saving" routerLink="/account/login"
                    nzBlock>{{"Back" | localize}}</button>
            </nz-col>
        </nz-form-item>
    </form>
</nz-card>