<h3 class="modal-header">
    <span>{{l('ChangePassword')}}</span>
</h3>
<form nz-form #changePasswordModalForm="ngForm" (ngSubmit)="save()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="CurrentPassword">{{l('CurrentPassword')}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input name="CurrentPassword" #currentPasswordInput="ngModel" [(ngModel)]="currentPassword"
                [placeholder]="l('CurrentPassword')" type="password" required>
            <nz-form-explain *ngIf="currentPasswordInput.dirty && currentPasswordInput.errors">
                <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="NewPassword">{{l('NewPassword')}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input name="NewPassword" #NewPasswordInput="ngModel" [(ngModel)]="password" [placeholder]="l('NewPassword')"
                type="password" validateEqual="NewPasswordRepeat" reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                required>
            <nz-form-explain *ngIf="!NewPasswordInput.valid && !NewPasswordInput.pristine">
                <ul *ngIf="NewPasswordInput.errors">
                    <li [hidden]="!NewPasswordInput.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                    <li [hidden]="!NewPasswordInput.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                    <li [hidden]="!NewPasswordInput.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                    <li [hidden]="!NewPasswordInput.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                    <li [hidden]="!NewPasswordInput.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint",
                        passwordComplexitySetting.requiredLength)}}</li>
                </ul>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="NewPasswordRepeat">{{l('NewPasswordRepeat')}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
            <input nz-input name="NewPasswordRepeat" #NewPasswordRepeatInput="ngModel" [(ngModel)]="confirmPassword"
                [placeholder]="l('NewPasswordRepeat')" type="password" validateEqual="NewPassword" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                reverse="false" required>
            <nz-form-explain *ngIf="!NewPasswordRepeatInput.valid && !NewPasswordRepeatInput.pristine">
                <ul *ngIf="NewPasswordRepeatInput.errors">
                    <li [hidden]="!NewPasswordRepeatInput.errors.requireDigit">{{l("PasswordComplexity_RequireDigit_Hint")}}</li>
                    <li [hidden]="!NewPasswordRepeatInput.errors.requireLowercase">{{l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                    <li [hidden]="!NewPasswordRepeatInput.errors.requireUppercase">{{l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                    <li [hidden]="!NewPasswordRepeatInput.errors.requireNonAlphanumeric">{{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                    <li [hidden]="!NewPasswordRepeatInput.errors.requiredLength">{{l("PasswordComplexity_RequiredLength_Hint",
                        passwordComplexitySetting.requiredLength)}}</li>
                    <li [hidden]="NewPasswordRepeatInput.valid">{{l("PasswordsDontMatch")}}</li>
                </ul>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>

    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!changePasswordModalForm.form.valid || saving" [nzLoading]="saving">
            <i nz-icon type="save"></i> {{l("Save")}}
        </button>
    </div>
</form>