{
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
      {
          "files": "*.component.html",
          "options": {
              "parser": "angular"
          }
      },
      {
          "files": "*.html",
          "options": {
              "parser": "html"
          }
      }
  ]
}