<h3 class="modal-header">
    <span>{{l('NotificationSettings')}}</span>
</h3>
<form nz-form #editForm="ngForm" (ngSubmit)="save()" *ngIf="settings">
    <h4>{{l("ReceiveNotifications")}}</h4>
    <nz-form-item>
        <nz-form-control>
            <nz-switch name="ReceiveNotifications" [ngModel]="settings.receiveNotifications" [nzCheckedChildren]="checkedTemplate"
                [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
            <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
            <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
            <nz-form-extra>
                {{l("ReceiveNotifications_Definition")}}
            </nz-form-extra>
        </nz-form-control>
    </nz-form-item>

    <h4 *ngIf="settings.notifications.length">{{l("NotificationTypes")}}</h4>
    <p *ngIf="settings.notifications.length && !settings.receiveNotifications" class="text-red"><small>{{l("ReceiveNotifications_DisableInfo")}}</small>
    </p>
    <nz-form-item>
        <nz-form-control *ngFor="let notification of settings.notifications">
            <label nz-checkbox name="Notification_{{notification.name}}" [nzDisabled]="!settings.receiveNotifications"
                [(ngModel)]="notification.isSubscribed">{{notification.displayName}}</label>
            <nz-form-explain *ngIf="notification.description">
                {{notification.description}}
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <div class="modal-footer">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
            {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [nzLoading]="saving">
            <i nz-icon type="save"></i> {{l("Save")}}
        </button>
    </div>
</form>