@import '~@delon/theme/index';
:host ::ng-deep {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background: #f0f2f5;
    }
    .wrap {
        flex: 1;
        padding: 32px 0;
    }
    .ant-form-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    @media (min-width: @screen-md-min) {
        .container {
            background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
            background-repeat: no-repeat;
            background-position: center 110px;
            background-size: 100%;
        }
        .wrap {
            padding: 32px 0 24px;
        }
    }
    .top {
        text-align: center;
    }
    .header {
        height: 44px;
        line-height: 44px;
        a {
            text-decoration: none;
        }
    }
    .logo {
        height: 44px;
        margin-right: 16px;
    }
    .title {
        position: relative;
        color: @heading-color;
        font-weight: 600;
        font-size: 33px;
        font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: middle;
    }
    .desc {
        margin-top: 12px;
        margin-bottom: 40px;
        color: @text-color-secondary;
        font-size: @font-size-base;
    }
    .content {
        display: block;
        width: 368px;
        margin: 0 auto;
    }
    .language-switch-area {
        text-align: center;
        list-style: none;
        margin: 0px;
        padding: 10px;
        > li {
            display: inline;
            margin: 0px;
            padding: 2px;
            i {
                display: inline-block;
            }
            a {
                -ms-opacity: 0.5;
                opacity: 0.5;

                &.language-icon-current {
                    -ms-opacity: 1;
                    opacity: 1;
                }
            }
        }
    }
}

[data-theme='dark'] {
    :host ::ng-deep {
        .container {
            background: #141414;
        }
        .title {
            color: fade(@white, 85%);
        }
        .desc {
            color: fade(@white, 45%);
        }
        @media (min-width: @screen-md-min) {
            .container {
                background-image: none;
            }
        }
    }
}

[data-theme='compact'] {
    :host ::ng-deep {
        .ant-form-item {
            margin-bottom: 16px;
        }
    }
}
